In [ ]:
#  Write a Python program that returns a string sorted alphabetically by the first character of a given string of words.
# Sample Data:
# ("Red Green Black White Pink") -> "Black Green Pink Red White"

#originalData = "Red Green Black White Pink"

'''originalData = "sum sale calcuate answer"   # answer calculate sum sale
s = originalData.split()
data = sorted(s)
string = " ".join(data)
print(string)'''


input_data = "sum sale answer calculate"
words = input_data.split()   #list
#words.sort(key)
sorted_words = sorted(words, key=lambda word: word[0])
result = ' '.join(sorted_words)
print(result)

answer calcuate sale sum

In [ ]:
# Write a Python program that takes a string and replaces all the characters with their respective numbers.
# Sample Data: ord
# ("Python") -> "16 25 20 8 15 14"
# ("Java") -> "10 1 22 1"
# ("Python Tutorial") -> "16 25 20 8
def Number(letter):

    return' '.join(str(ord(i)-96) for i in letter.lower() if i.isalpha())   #(expression(ord(i)-96) for i in letter.lower() if i.isalpha()))
word = "python"
print(Number(word))
word = "Java"
print(Number(word))
word = "Python Tutorial"
print(Number(word))

16 25 20 8 15 14
10 1 22 1
16 25 20 8 15 14 20 21 20 15 18 9 1 12

In [ ]:
# WAP to convert list of celcius value to farenhite
C =[39.4 , 36.7 , 38 , 37.8 ]
F = list(map(lambda x : (x,float(9)/5*x +32) , C))

In [ ]:
F

[(39.4, 102.92), (36.7, 98.06), (38, 100.4), (37.8, 100.03999999999999)]

In [ ]:
number_list = range(-5,5)
less_than_zero = list(filter(lambda x:x<0,number_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]

In [ ]:
from functools import reduce
sum = reduce(lambda x,y : x+y , C)
print(sum)

151.89999999999998

[(python,1), (learning,1) , (python ,1)]  --> reduce to [(python , 2) , ....]

In [ ]:
# Word Count
line = " sandy is very good boy good boy"
splited_line = line.split()
newline ={}
for word in splited_line:
    if word in newline:
        newline[word] += 1
    else:
        newline[word] = 1
print(newline)

{'sandy': 1, 'is': 1, 'very': 1, 'good': 2, 'boy': 2}

In [ ]:
word={}
s=input("Enter the sting")
l = s.split();
for w in l:
  word[w] = word.get(w,0)+1
print(word)
print("\n".join(['%s :  %s' %(k,v) for k,v in word.items()]))

Enter the stinglearning python learning
{'learning': 2, 'python': 1}
learning :  2
python :  1

In [ ]:
s=input("Enter the sting")
'''l = s.split();
map_list = list(map(lambda word :(word,1),l))'''   # lambda
map_list= [(word,1) for word in s.split()]    # list comprehension
print(map_list)
from functools import reduce
#word is dictionary , # update the dictionary
result = reduce(lambda word , value :{**word ,value[0]:word.get(value[0],0)+value[1] } , map_list , {})
print(result)

Enter the stingl p l
[('l', 1), ('p', 1), ('l', 1)]
{'l': 2, 'p': 1}

List Comprehension : faster as compare to normal function                     
new_list = [expression for member in iterable if condition ]

In [ ]:
squares = []
for i in range(10):
  squares.append(i*i)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# List Comprehension
squares =[i*i for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
sentence = " ria_pandya. "
v=['@']
# find the vowels out of this sentence
#vowels = [i for i in sentence if i in v]
vowels = [i for i in sentence if i in '@']
print(vowels)

['a', 'e', 'a', 'i', 'o']

In [ ]:
num_list = [12,-23,343,41 , -1,34,-23]
# all the negative will be 0 asn positive will be as it is o/p [ 12,0,343,41 ,0,34,0]
positive_list=[0 if i<0 else i for i in num_list]
print(positive_list)

[12, 0, 343, 41, 0, 34, 0]

In [ ]:
# Write a Python program to insert space before every capital letter appears in a given word.
# Sample Data:
# ("PythonExercises") -> "Python Exercises"
# ("Python") -> "Python"
# ("PythonExercisesPracticeSolution") -> "Python Exercises Practice Solution"
def Capital (letters):
    result = ""
    for i in letters:
        if i.isupper():
           result = result + " " + i.upper()
        else:
           result = result + i
    return result[0:]
letters = "PythonExercises"
print(letters)
print(Capital(letters))
letters = "Python"
print(letters)

PythonExercises
 Python Exercises
Python

In [ ]:
# Write a Python program to remove repeated consecutive characters and replace them with single letters and print a updated string.
# Sample Data:
# ("Red Green White") -> "Red Gren White"
# ("aabbbcdeffff") -> "abcdef"
# ("Yellowwooddoor") -> "Yelowodor"

def remove_repeated_characters(s):
    result = ""
    for i in range(len(s)):
        if i == 0:
            result += s[i]
        elif s[i] != s[i - 1]:
            result += s[i]

    return result
print(remove_repeated_characters("Red Green White"))
print(remove_repeated_characters("aabbbcdeffff"))
print(remove_repeated_characters("Yellowwooddoor"))

Red Gren White
abcdef
Yelowodor

In [ ]:
# Write a Python program to replace each character of a word of length five and more with a hash character (#).
# Sample Output:
# Original string: Count the lowercase letters in the said list of words:
# Replace words (length five or more) with hash characters in the said string:
# ##### the ######### ####### in the said list of ######
# Original string: Python - Remove punctuations from a string:
# Replace words (length five or more) with hash characters in the said string:
# ###### - ###### ############ from a #######

def replace_long_words_with_hash(s):
    return ' '.join('#' * len(word) if len(word) >= 5 else word for word in s.split())

input_string1 = "Count the lowercase letters in the said list of words:"
input_string2 = "Python - Remove punctuations from a string:"

print(replace_long_words_with_hash(input_string1))
print(replace_long_words_with_hash(input_string2))

##### the ######### ####### in the said list of ######
###### - ###### ############ from a #######

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
# mail id fetch the name only
mail_id = "ria_pandya@gmail.com"

In [ ]:
# list of even numbers
l_num = range(1,11)
even_num = [i for i in l_num if i%2==0]
print(even_num)

[2, 4, 6, 8, 10]

In [ ]:
# list of odd numbers , but even to be 0
even_odd = [0 if i%2==0 else i for i in l_num]
print(even_odd)

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [ ]:
even_odd = [i if i%2!=0 else 0 for i in l_num]
print(even_odd)

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [ ]:
# for every celcius value i generate 0 value
map_c =  dict(map(lambda x :(x,float(0)) , C))
print(map_c)

{39.4: 0.0, 36.7: 0.0, 38: 0.0, 37.8: 0.0}

In [ ]:
#{ expression for member in iterable }
F = {k: float(9)/5*k +32 for k,v in map_c.items()}
print(F)

{39.4: 102.92, 36.7: 98.06, 38: 100.4, 37.8: 100.03999999999999}

In [ ]:
dict_1 = {'a': 2 , 'b': 6 , 'c': 3}
# o/p every value need to square
dict_square = {k:v**2 for k,v in dict_1.items()}
print(dict_square)

{'a': 4, 'b': 36, 'c': 9}

In [ ]:
#  find those key and value whuch are even

In [ ]:
s={1,2,3}
s.add(4,5) # error

TypeError: set.add() takes exactly one argument (2 given)

In [ ]:
s.update([4,5])
print(s)

{1, 2, 3, 4, 5}

In [ ]:
s.update({6,7})
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
s.discard(4)
print(s)

{1, 2, 3, 5, 6, 7}

In [ ]:
lst = list(range(1,11))
lst[1:5] = [100,200,300,400]
print(lst)

[1, 100, 200, 300, 400, 6, 7, 8, 9, 10]

In [ ]:
lst = list(range(1,11))
lst[1:5] = [100,200]   # loss of element
print(lst)

[1, 100, 200, 6, 7, 8, 9, 10]

In [ ]:
st = list(range(1,11))
st[2:2] = [100,200,300,400]  # insertion
print(st) # like index methos

[1, 2, 100, 200, 300, 400, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
st = list(range(1,11))
st[2:3] = [100,200,300,400]  # insertion
print(st) # like index methos

[1, 2, 100, 200, 300, 400, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Class  # Employee class : add the multiple employees in dictionary
'''dictemp ={'empids':[],'names':[],'designations':[],'emails':[],'salarys':[]}
num = int(input())  # 3
for i in range(num):
	store the variable into dic  '''

In [ ]:
# print the list after removing the 0th,4th,5th numbers in list using list comprehaension
li = [12,24,35,70,88,120,155]
#li = [x for (i,x) in enumerate(li) if i not in (0,4,5)]
#l1=[li[i] for i in range(len(li)) if i not in (0,4,5)]
li = [li[i] for i in li if i not in (li[0] , li[4] , li[5])]
#li=[i for i in li if i not in (li[0] , li[4] , li[5])]
print(li)

IndexError: list index out of range

In [ ]:
#a program to print the list after removing delete numbers which are divisible by 5 and 7 in list
l=[1,2,3,4,5,21,25,23,24,31,25,36,39,41,45,48,49,50]
l =[i for i in l if i % 5 != 0 and i % 7 != 0 ]
print(l)


l1 = [i for i in range(1,50) if i % 5 != 0 and i % 7 != 0 ]
print(l1)

r_list = range(1,50)
remove_divideby_5_7 = list(filter(lambda x: x % 5 != 0 and x % 7 != 0,r_list))
print(remove_divideby_5_7)

s = []
for i in range(50):
  if i % 5 != 0 and i % 7 != 0:
    s.append(i)

print(s)

[1, 2, 3, 4, 23, 24, 31, 36, 39, 41, 48]
[1, 2, 3, 4, 6, 8, 9, 11, 12, 13, 16, 17, 18, 19, 22, 23, 24, 26, 27, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 43, 44, 46, 47, 48]
[1, 2, 3, 4, 6, 8, 9, 11, 12, 13, 16, 17, 18, 19, 22, 23, 24, 26, 27, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 43, 44, 46, 47, 48]
[1, 2, 3, 4, 6, 8, 9, 11, 12, 13, 16, 17, 18, 19, 22, 23, 24, 26, 27, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 43, 44, 46, 47, 48]

In [ ]:
# 7. Write a Python program to remove duplicate words from a given string.
# Sample Output:
# Original String:
# Python Exercises Practice Solution Exercises
# After removing duplicate words from the said string:
# Python Exercises Practice Solution

input_string = "Python Exercises Practice Solution Exercises"
words = input_string.split()
unique_words = []
for word in words:
    if word not in unique_words:
        unique_words.append(word)
output_string = ' '.join(unique_words)

print("Original String:")
print(input_string)
print("After removing duplicate words from the said string:")
print(output_string)

Original String:
Python Exercises Practice Solution Exercises
After removing duplicate words from the said string:
Python Exercises Practice Solution

In [ ]:
# 9. Write a Python program to capitalize the first and last letters of each word in a given string.
#data = "summer sales are different answer calculate "
data = input("Enter A String:")
l2 = data.split()
print(l2)
l2 = list(map(lambda x: x[0].upper()+ x[1:-1] + x[-1].upper()  ,l2))
result = ' '.join(l2)
print(result)

In [ ]:
# 10. Write a Python program to find the second most repeated word in a given string.
data = "summer is to hot in this summer beacause of hot we will get faint"
#data = input("Enter A String:")
#line = " sandy is very good boy good boy"
s = data.split()
n ={}
for x in s:
    if x in n:
        n[x] += 1
        print(x)
    else:
        n[x] = 1

print(n)
s_n = sorted(list(n.items()),key=lambda x: x[1], reverse=True)
print(s_n)

s_n[1][0]

In [ ]:
# 11. Write a Python program to lowercase the first n characters in a string.

In [ ]:
class Test:
  def __init__(self):
    print("Constructor")
  def __del__(self):
    print("Destructor")

In [ ]:
if __name__=="__main__":
  obj = Test()
  del obj

Constructor
Destructor

In [ ]:
# Single Inheritance
class Parent:
  def __init__(self , name):
    self.name = name
    print("I am parent " , name)
  def parentMethod(self):
    print("name is " , self.name )
class Child(Parent):
  def __init__(self , age):
    super().__init__("Ram")
    self.age=age
    print("I am in child " , age )
  def childMethod(self):
    print("Age is ",self.age)

In [ ]:
# create object of child class
obj = Child(12)
obj.parentMethod()
obj.childMethod()

I am parent  Ram
I am in child  12
name is  Ram
Age is  12

In [ ]:
# Multilevel Inheritance
class GrandParent:
  def __init__(self, name):
    self.g_name = name

class Parent(GrandParent):
  def __init__(self , p_name , g_name):
    super().__init__(g_name)
    self.p_name = p_name

class Child(Parent):
  def __init__( self, name , p_name , g_name):
    super().__init__( p_name , g_name)
    self.name = name

  def printName(self):
      print("Grand Parent name is " , self.g_name)
      print("Parent name is " , self.p_name)
      print("Child name is " , self.name)

In [ ]:
obj = Child("c" , "Pa" , "GP")
obj.printName()

Grand Parent name is  GP
Parent name is  Pa
Child name is  c

In [ ]:
class GP:
  def gpMethod(self):
    print("Grand Parent ")

class P(GP):
  def pMethod(self):
    print("Parent ")

class Child(P):
  def cMethod(self):
    print("Child")

obj = Child()
obj.gpMethod()
obj.pMethod()
obj.cMethod()

Grand Parent
Parent
Child

In [ ]:
class Maternal:
  m_name = ''
  def mMethod(self,name):
    self.m_name = name
    print("Mother name is " , self.m_name)

class Paternal:
  def pMethod(self , p_name):
    self.p_name = p_name
    print("Father is " , self.p_name)

class Child(Maternal , Paternal):
  def cMethod(self):
    print("Paretnal" , self.p_name , " Maternal is: " , self.m_name)

In [ ]:
obj=Child()
obj.mMethod("Sita")
obj.pMethod("Ram")
obj.cMethod()

Mother name is  Sita
Father is  Ram
Paretnal Ram  Maternal is:  Sita

In [ ]:
# Multiple Inheritance set variable name using constructor
class Maternal:
  m_name=''
  def mMethod(self):
    print("This is maternal method", self.m_name)

class Paternal:
  p_name=''
  def pMethod(self):
    #self.p_name = p_name
    print("This is paternal method", self.p_name)

class child(Maternal, Paternal):
  def __init__(self, name, m_name, p_name):
    super().__init__()
    self.name = name
    self.m_name = m_name
    self.p_name = p_name
  def printName(self):
    print("Maternal Name:", self.m_name)
    print("Paternal Name:", self.p_name)
    print("Child Name:", self.name)

obj = child("James", "Dania", "Alvarez")
obj.printName()
obj.mMethod()
obj.pMethod()

Maternal Name: Dania
Paternal Name: Alvarez
Child Name: James
This is maternal method Dania
This is paternal method Alvarez

In [ ]:
class Example:
  #private method
  def __check(self):
    print("I am in private ")

In [ ]:
e = Example()
e._Example__check()

I am in private

In [ ]:
#overriding : same name method same paramters in sub class
class Rectangle:
  def __init__(self,length, breadth):
    self.length = length
    self.breadth = breadth
  def calcuateArea(self):
    print("Area of rectangle is " , self.breadth*self.length)

  def print_m(self):
    print("check in parent ")

class Square(Rectangle):
  def __init__(self , side):
    self.side=side

  def calcuateArea(self):
    #super().calcuateArea()
    print("Area of square is " , self.side *self.side)

In [ ]:
s=Square(2)
r=Rectangle(2,3)
s.calcuateArea()
r.calcuateArea()
s.print_m()

Area of square is  4
Area of rectangle is  6
check in parent

In [ ]:
# Overloading
def add(instanceOf , *args):
  if instanceOf == 'int':
    result = 0
  if instanceOf == 'str':
    result = ''
  if instanceOf == 'float':
    result = 0.0
  for i in args:
    #result = result + i
    result+=i
  return result

In [ ]:
print(add('int' , 1,23,12))
print(add('float' , 1.2, 3.4 ,1.2,3.5))
print(add('str' , 'hello' , 'world'))

36
9.3
helloworld

In [ ]:
# Python replace the previous method with latest method created
class Example1:
  def m_method(self,name):
    print("Hi" , name)
  def m_method(self):
    print("Hi")


obj = Example1
obj.m_method("Ria" , "Ria")

TypeError: Example1.m_method() takes 1 positional argument but 2 were given

In [ ]:
# Define a base class with abstract methods
class Shape:
  def area(self):
        # Abstract method, should be implemented by subclass
        raise NotImplementedError("Subclass must implement abstract method")
        #pass
  def perimeter(self):
        # Abstract method, should be implemented by subclass
        raise NotImplementedError("Subclass must implement abstract method")

# Subclass that inherits from Shape
class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    # Implement the abstract methods
    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 * (self.width + self.height)

# Subclass that inherits from Shape
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    # Implement the abstract methods
    def area(self):
        return 3.14 * self.radius ** 2

    def perimeter(self):
        return 2 * 3.14 * self.radius

# Create instances of Rectangle and Circle
rect = Rectangle(4, 5)
circle = Circle(3)

# Call the methods
print(f"Rectangle area: {rect.area()}")         # Output: Rectangle area: 20
print(f"Rectangle perimeter: {rect.perimeter()}") # Output: Rectangle perimeter: 18

print(f"Circle area: {circle.area()}")           # Output: Circle area: 28.26
print(f"Circle perimeter: {circle.perimeter()}") # Output: Circle perimeter: 18.84

Rectangle area: None
Rectangle perimeter: 18
Circle area: 28.26
Circle perimeter: 18.84

In [ ]:
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))
try:
  c = num1/num2
except Exception as e:     # Generic Exception which can hadle all types of exceptions
  print("Eroor is " , e)
  exit(0)
else:
  print("Answer is ", c)

Enter first number 12
Enter second number 0
Eoor is  division by zero

In [ ]:
try:
  num1 = int(input("Enter first number "))
  num2 = int(input("Enter second number "))
  c = num1/num2

except ValueError:
  print("Invalid input only integers ")
except ZeroDivisionError:
  print("Cannot divide by zero")
except Exception as e:     # Generic Exception which can hadle all types of exceptions
  print("Eroor is " , e)
  exit(0)
else:
  print("Answer is ", c)

finally:
  print("finally")

Enter first number 12
Enter second number 0
Cannot divide by zero
finally

In [ ]:
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))
if num2 == 0:
  raise ZeroDivisionError("Cannot divide by zero ")

if not type(num1) is int or not type(num2) is int:
  raise TypeError("Invalid input only integers ")
if num1<0:
  raise Exception("Invalid input numbers greater than zero ")
c = num1/num2
print("Answer is ", c)

Enter first number 12
Enter second number 2.3

ValueError: invalid literal for int() with base 10: '2.3'

In [ ]:
# Custom Exception Handling
class CustomError(Exception):
  min_age =0
  def __init__(self , age):
    self.age= age
  def __str__(self):
    return f"Age {self.age} should be greater than {self.min_age}"

In [ ]:
try:
  age= int(input("Enter age "))
  if age<0:
    raise CustomError(age)
except CustomError as e:
  print(e)
except ValueError:
  print("Invalid input only integers ")
else:
  print("Age is ", age)

Enter age u
Invalid input only integers

In [ ]:
# Banking Exception for withdraw[Amount is less than available balance raise exception] 2 function Deposit]balance+new ] and withdraw [balance-new] 2 functions
class BankingException(Exception):

    def __init__(self, message):
        super().__init__(message)

class BankAccount:
  balance = 500
  def __init__(self):
    print("your intial_balance:",self.balance)


  def deposit(self, amount):
        if amount <= 0:
            raise BankingException("Deposit amount must be more than 0.")
        self.balance += amount



  def withdraw(self, amount):
        if amount <= 0:
            raise BankingException("Withdrawal amount must be more than 0.")
        if amount > self.balance:
            raise BankingException("Insufficient funds.")
        self.balance -= amount
'''inital_balance = int(input("Enter intial_balance:"))'''
account = BankAccount()
deposit_amount = int(input("Enter Deposit amount:"))


try:
    account.deposit(deposit_amount)
    print("Deposit successful. New balance:", account.balance)
except BankingException as e:
    print("Error:", e)


try:
  withdraw_amount = int(input("Enter Withdraw_amount:"))
  if withdraw_amount:
    account.withdraw(withdraw_amount)
    print("Withdrawal successful. New balance:", account.balance)

except ValueError:
  print("Invalid input only integers ")
except BankingException as e:
    print("Error:", e)

In [ ]:
## static method to compare diffent data object

class DataObject:
    def __init__(self, id, value):
        self.id = id
        self.value = value

    def compare_objects(obj1, obj2):
        if obj1.value > obj2.value:
            return f"{obj1} is greater than {obj2}"
        elif obj1.value < obj2.value:
            return f"{obj1} is less than {obj2}"
        else:
            return f"{obj1} is equal to {obj2}"

    def __repr__(self):
        return f"DataObject(id={self.id}, value={self.value})"

data1 = DataObject(1, 100)
data2 = DataObject(2, 150)

result = DataObject.compare_objects(data1, data2)
print(result)

In [ ]:
class ClassMethodExample:
  school="ABC"

  def __init__(self , name):
    self.name = name

  @classmethod
  def changeSchool(cls , name):
    cls.school = name

  @staticmethod
  def staticExample(name):
    # self.school = name  eror static varibale are not instance modify the object
    ClassMethodExample.school = name  # logically incorrect compare

  def printName(self):
    print(self.school)
    print(self.name)

In [ ]:
obj1 = ClassMethodExample("Ram")
obj1.printName()
obj2 = ClassMethodExample("Shyam")
obj2.printName()

obj1.changeSchool("XYZ")
obj1.printName()
obj2.printName()

ClassMethodExample.staticExample("PQR")
obj1.printName()
obj2.printName()

ABC
Ram
ABC
Shyam
XYZ
Ram
XYZ
Shyam
PQR
Ram
PQR
Shyam

In [ ]:
class DateExample:
  def __init__(self , year , month , day):
    self.day = day
    self.month = month
    self.year = year
  @classmethod   # constructor overriding
  def dmy(cls , day , month , year):
    cls.year = year
    cls.month=month
    cls.day = day
    return cls(cls.year , cls.month , cls.day) #return same as inint

  @classmethod
  def mdy(cls , month , day , year):
    cls.year = year
    cls.month=month
    cls.day = day
    return cls(cls.year , cls.month , cls.day)

    ## static method to compare diffent date object

In [ ]:
date1 = DateExample(2024,3,12)
date1.year

2024

In [ ]:
date2 = DateExample.dmy(12,3,2024)
date2.year

2024

In [ ]:
date3=DateExample.mdy(3,12,2016)
date3.year

2016

In [ ]:
date3.month

3

In [ ]:
## File Hadling

# File Handling

In [ ]:
!find / -name 'Session1.txt'

find: /proc/73/task/73/net: Invalid argument
find: /proc/73/net: Invalid argument
/content/Session1.txt

In [ ]:
file1 = open("/content/Session1.txt" , "r")
read_lines = file1.read()
print(read_lines)
file1.close()

** OOP and Structured Programming
--> Base Python [ shell ]
--> Suite Available [ Anaconda ]
--> Python , R

--> Data type in python : what type data will store
int32 , int 64
BasePython : int64
Pandas
datatime :
text

--> type conversions
--> looping for , if , while
** Data Structure : how data is stored
--> local and global variable
** Functions :
def function_name(argument):
	return statement;

Non-void functions : which return expression or literal
Void function : print statement

1. Built-In Function : math , len ,
2. User Defined Function

** Slicing : functions related to date time
Month_name=['JAN'  'FEB' , ]
def date_format(d):
	day=d[0:2] [start_in dex : end+1]
	year
	month = int(d[2:4])
	month_name =Month_name[month-1]

d=input("Enter date in ddmmyyyy")
03092024
date_format(d)

Q WAP that generates a series using a function which takes first and last values of the series and then generates four terms that are equidistant example, if two numbers passed are 1 and 7 then functions returns 1 3 5 7

** Lambda Functions :
** list , set , tuple , dictionary

In [ ]:
file1 = open("/content/Session1.txt" , "r")
read_lines = file1.readlines()   # read entire datat in form of list
print(read_lines)
file1.close()

['** OOP and Structured Programming \n', '--> Base Python [ shell ] \n', '--> Suite Available [ Anaconda ] \n', '--> Python , R \n', '\n', '--> Data type in python : what type data will store \n', 'int32 , int 64\n', 'BasePython : int64 \n', 'Pandas \n', 'datatime : \n', 'text \n', '\n', '--> type conversions \n', '--> looping for , if , while \n', '** Data Structure : how data is stored \n', '--> local and global variable \n', '** Functions : \n', 'def function_name(argument):\n', '\treturn statement; \n', '\n', 'Non-void functions : which return expression or literal\n', 'Void function : print statement \n', '\n', '1. Built-In Function : math , len , \n', '2. User Defined Function \n', '\n', '** Slicing : functions related to date time \n', "Month_name=['JAN'  'FEB' , ]\n", 'def date_format(d):\n', '\tday=d[0:2] [start_in dex : end+1]\n', '\tyear \n', '\tmonth = int(d[2:4])\n', '\tmonth_name =Month_name[month-1]\n', '\t\n', 'd=input("Enter date in ddmmyyyy")\n', '03092024\n', 'date_format(d)\n', '\n', 'Q WAP that generates a series using a function which takes first and last values of the series and then generates four terms that are equidistant example, if two numbers passed are 1 and 7 then functions returns 1 3 5 7\n', '\n', '** Lambda Functions : \n', '** list , set , tuple , dictionary \n', ' \n', '\n']

In [ ]:
file1 = open("/content/Session1.txt" , "r")
read_line = file1.readline()   # read first line
print(read_line)
file1.close()

** OOP and Structured Programming

In [ ]:
file1 = open("/content/Session1.txt" , "r")
read_lines4 = file1.readlines(10)   # read first line
print(read_lines4)
file1.close()

['** OOP and Structured Programming \n']

In [ ]:
file1 = open("/content/Session1.txt" , "r")
read_lines = file1.read(10)   # read first line
print(read_lines)
file1.close()

** OOP and

In [ ]:
file1 = open("/content/Session1.txt" , "r")
read_lines = file1.readline(12)   # read first line
print(read_lines)
file1.close()

** OOP and S

In [ ]:
file1 = open("/content/Session1.txt" , "r")
read_lines = file1.readline(1)   # read first line
print(read_lines)
file1.close()

*

In [ ]:
# read entire file with help of readline : iterate
file1 = open("/content/Session1.txt" , "r")
while True:
  line = file1.readline()
  if not line:
    break
  print(line)
file1.close()

** OOP and Structured Programming

--> Base Python [ shell ]

--> Suite Available [ Anaconda ]

--> Python , R



--> Data type in python : what type data will store

int32 , int 64

BasePython : int64

Pandas

datatime :

text



--> type conversions

--> looping for , if , while

** Data Structure : how data is stored

--> local and global variable

** Functions :

def function_name(argument):

	return statement;



Non-void functions : which return expression or literal

Void function : print statement



1. Built-In Function : math , len ,

2. User Defined Function



** Slicing : functions related to date time

Month_name=['JAN'  'FEB' , ]

def date_format(d):

	day=d[0:2] [start_in dex : end+1]

	year

	month = int(d[2:4])

	month_name =Month_name[month-1]



d=input("Enter date in ddmmyyyy")

03092024

date_format(d)



Q WAP that generates a series using a function which takes first and last values of the series and then generates four terms that are equidistant example, if two numbers passed are 1 and 7 then functions returns 1 3 5 7



** Lambda Functions :

** list , set , tuple , dictionary

In [ ]:
file1 = open("/content/Session1.txt" , "r")
str=" "
while str:
  str = file1.readline()
  print(str , end=' ')
file1.close()

** OOP and Structured Programming
 --> Base Python [ shell ]
 --> Suite Available [ Anaconda ]
 --> Python , R

 --> Data type in python : what type data will store
 int32 , int 64
 BasePython : int64
 Pandas
 datatime :
 text

 --> type conversions
 --> looping for , if , while
 ** Data Structure : how data is stored
 --> local and global variable
 ** Functions :
 def function_name(argument):
 	return statement;

 Non-void functions : which return expression or literal
 Void function : print statement

 1. Built-In Function : math , len ,
 2. User Defined Function

 ** Slicing : functions related to date time
 Month_name=['JAN'  'FEB' , ]
 def date_format(d):
 	day=d[0:2] [start_in dex : end+1]
 	year
 	month = int(d[2:4])
 	month_name =Month_name[month-1]

 d=input("Enter date in ddmmyyyy")
 03092024
 date_format(d)

 Q WAP that generates a series using a function which takes first and last values of the series and then generates four terms that are equidistant example, if two numbers passed are 1 and 7 then functions returns 1 3 5 7

 ** Lambda Functions :
 ** list , set , tuple , dictionary

In [ ]:
file1 = open("/content/Session1.txt" , "r")
read_lines = file1.read()
size =  len(read_lines)
print(size)
file1.close()

1105

In [ ]:
# display actual size of file and size of file after removing trailing and leading spaces and EOL characters
file1 = open("/content/Session1.txt" , "r")
str=" "
size=0 # showing actual size of file
tsize=0 # showing size after removing trailing and leading spaces and EOL characters
while str:
  str = file1.readline()
  size = size + len(str)
  tsize = tsize + len(str.strip()) # strip function remove leading and trailing space
print(size)
print(tsize)

file1.close()

1105
1032

In [ ]:
file_w = open("/content/student.txt","w")
num = int(input("Enter how many studnets "))
for i in range(num):
  name=input("Enter name")
  file_w.write(name)
  subject=input("Enter subject")
  file_w.write(subject)
  file_w.write("\n")
file_w.close()

Enter how many studnets 2
Enter nameRia
Enter subjectCS
Enter nameArpit
Enter subjectMechanical

In [ ]:
file_r= open("/content/student.txt","r")
print(file_r.read())
file_r.close()

RiaCS
ArpitMechanical
Rita	Electrical
SHyam	CS

In [ ]:
# appending the same file and adding the stff as list
file_a= open("/content/student.txt","a")
num = int(input("Enter how many studnets "))
list1=[]
for i in range(num):
  name=input("Enter name")
  list1.append(name + "\t")
  subject=input("Enter subject")
  list1.append(subject + "\n")
file_a.writelines(list1)
file_a.close()

Enter how many studnets 2
Enter nameRita
Enter subjectElectrical
Enter nameSHyam
Enter subjectCS

In [ ]:
# pickle : is a module which is used for serializatiion and deserialization of data .
# store the data into binary format
import pickle
class student:
  def __init__(self , r_no=0  , name=""):
    self.r_no = r_no
    self.name = name
    self.marks1,self.marks2 = 0.0,0.0
  def readmarks(self):
    self.marks1 = float(input("Enter marks1 "))
    self.marks2 = float(input("Enter marks2 "))
  def display(self):
    print("Roll no is " , self.r_no)
    print("Name is " , self.name)
    print("Marks1 is " , self.marks1)
    print("Marks2 is " , self.marks2)

In [ ]:
s1 = student(101 , "Ram")
s1.readmarks()
s1.display()

Enter marks1 45
Enter marks2 50
Roll no is  101
Name is  Ram
Marks1 is  45.0
Marks2 is  50.0

In [ ]:
file_b = open("/content/student.dat" , "wb")
pickle.dump(s1 , file_b)
file_b.close()

In [ ]:
file_b = open("/content/student.dat" , "rb")
s2 = pickle.load(file_b)  # load the student type data
s2.display()    # student class
file_b.close()

Roll no is  101
Name is  Ram
Marks1 is  45.0
Marks2 is  50.0

In [ ]:
# studnet.dat there is multiple data

In [ ]:
#WAP to count the words "to" and "the" present in a text file
'''ajay'
f = open('Notebook.txt', "w")
f.write("I am going to bring some groceries from the store")
f.close()

f = open("Notebook.txt")
content = f.read()

words = content.split()
print(words)
print(content)
words_to_count = ['the', 'to']

for word in words_to_count:
    count = words.count(word)
    print(f'The word "{word}" appears {count} times in the file.')'''


'''
# Lalitha
f = open('TextFile.txt', "w")
f.write("Uber hasn't mentioned if users will be able to skip the ads")
f.close()

f = open("TextFile.txt")
content = f.read()

words = content.lower().split()
to = words.count('to')
the = words.count('the')

print(f"The word 'to' occurred {to} times.")
print(f"The word 'the' occurred {the} times.")'''

'''
#sushma

file = open("yourfile.txt", "r")
content = file.read().lower()

count_to = content.split().count("to")
count_the = content.split().count("the")

file.close()

print(f'Count of "to": {count_to}')
print(f'Count of "the": {count_the}')        '''

['I', 'am', 'going', 'to', 'bring', 'some', 'groceries', 'from', 'the', 'store']
I am going to bring some groceries from the store
The word "the" appears 1 times in the file.
The word "to" appears 1 times in the file.
The word 'to' occurred 1 times.
The word 'the' occurred 1 times.

In [ ]:
#WAP that reads charecters from the keyboard one by one . All lower case charecters get stored inside the file LOWER , all upper case charecters get stored inside the file UPPER and
#all other charecters get stored inside file OTHERS
'''ajay'
lower = open('Lower.txt', "a")
upper =  open('Upper.txt', 'a')
others = open('others.txt','a')
text = input('Enter the words')
for char in text:
    if char.islower():
        lower.write(char)
    elif char.isupper():
        upper.write(char)
    else:
        others.write(char)
lower.close()
upper.close()
others.close()'''


'''
#Lalitha
lower = open('Lower.txt', "a")
upper = open('Upper.txt', 'a')
others = open('Others.txt', 'a')

text = input('Enter your Input: ')

for char in text:
    if char.islower():
        lower.write(char)
    elif char.isupper():
        upper.write(char)
    else:
        others.write(char)

lower.close()
upper.close()
others.close()

print("The input has been successfully saved to the designated files")'''

'''

Enter the wordsHello World! 123

In [ ]:
#Write a function in python to count and display the number of lines starting with alphabet 'A'
# present in a text file "LINES.txt". e.g., the file LINES.txt contains the following lines:
# A boy is playing there, There is a playground, An Aeroplane is in the sky, Alphabets and numbers are located in passsword.



#sushma
def count_lines_starting_with_A(file_name):
    count = 0

    try:
        with open(file_name, 'r') as file:
            lines = file.readlines()
            for line in lines:
                if line.strip().startswith('A'):
                    count += 1
        print(f"Number of lines starting with 'A': {count}")
    except FileNotFoundError:
        print(f"The file {file_name} does not exist.")

count_lines_starting_with_A("LINES.txt")

The file LINES.txt does not exist.

# DECORATORS Custom

In [ ]:
def add(a,b):
  return a+b

cal =add(1,2)  # assigning a function to variable is allowed the python
print(cal)

3

In [ ]:
# passing a function as a parameter

def sub(a,b):
  return a-b

def man(func , a , b):  # func : represent function
  return func(a,b)

cal = man(sub , 1,2)
print("Subraction " , cal)

cal1 = man(add , 1,2)
print("Addition " , cal1)

Subraction  -1
Addition  3

In [ ]:
# Decorators: allows program to modify the state or behaviour of class or functions

# defining decorator
def my_decorator(func):
  # craee a wrapper function
  def wrapper():   # any name
    print("Before the function is called")
    func()   # calling the actual function which we pass
    print("After the function is called")
  return wrapper   # returning the inner or wrapper

def use_wrapper():
  print("Test the Decorator ")

use_wrapper1=my_decorator(use_wrapper)
use_wrapper1()

Before the function is called
Test the Decorator
After the function is called

In [ ]:
@my_decorator
def use_wrapper():
  print("Test the Decorator ")

use_wrapper()

Before the function is called
Test the Decorator
After the function is called

In [ ]:
def sumDecorator(function):
  def wrapper(*args):  # variable argument
    x,y=function(*args)
    return x+y
  return wrapper

@sumDecorator
def sum(a,b):
  return a,b

print("sum integer" ,sum(1,2))  # integer only
print("sum float " , sum(2.3,4.5))
print("sum char "  , sum('a','b'))
@sumDecorator
def man(a,b):
  return a,b

print(man(5,6))

sum integer 3
sum float  6.8
sum char  ab
11

In [ ]:
def subDecorator(function):
  def wrapper(*args ,**kwargs):   #kwargs : pass keyword parameter
    x,y=function(*args,**kwargs)
    print("type=",kwargs)
    return x-y

  return wrapper

@subDecorator
def sub(a,b , **kwargs):
  return a,b
sub(1,2 , type=int)

type= {'type': <class 'int'>}

-1

In [ ]:
def powerDecorator(function):
  def wrapper(*args):
    x=function(*args)
    return x*x
  return wrapper

@powerDecorator
def power(a):
  return a

print(power(2))

4

In [ ]:
#chaining a decorator
@powerDecorator  # second execute
@subDecorator   # first execute
def example(a,b):
  return a,b

example(2,3)

type= {}

1

In [ ]:
example(4,2)

type= {}

4

In [ ]:
# create a decorator for converting the word into upper case

def upperCase(func):
    def wrapper(*args, **kwargs):
        result = func(*args, **kwargs)
        return result.upper()
    return wrapper

@upperCase
def get_word(name):
    return f"Hello {name}"

result = get_word("Lalitha")
print(result)

''' def uppercase_decorator(func):
    def wrapper(word):
        return func(word.upper())
    return wrapper

@uppercase_decorator
def say_word(word):
    return word

print(say_word("hello sushma")) '''

# Concurrency and Mutithreading

In [ ]:
import threading
from threading import *

In [ ]:
current_thread().getName()

<ipython-input-4-042834355870>:1: DeprecationWarning: getName() is deprecated, get the name attribute instead
  current_thread().getName()

'MainThread'

In [ ]:
def test():
  print("Thread example")

#object of thred to make your method to act as thread
#object=Thread(target=runnable)
t1 = Thread(target=test)
t1.start() # start will call the run method of thread

Thread example

In [ ]:
# by extending the thread class
#class ThreadExample(threading.Thread)
class ThreadExample(Thread):
  def run(self):
    for i in range(5):
      print("Child Thread",i)

t1 = ThreadExample()
t1.start()
t1.join()
print("Thread End " , current_thread().getName())

Child Thread 0
Child Thread 1
Child Thread 2
Child Thread 3
Child Thread 4
Thread End  MainThread

<ipython-input-10-c3a235883819>:11: DeprecationWarning: getName() is deprecated, get the name attribute instead
  print("Thread End " , current_thread().getName())

In [ ]:
# without extending thread class
class ThreadExample:
  def myMethod(self):
    for i in range(5):
      print("Child Thread",i)

obj = ThreadExample()  # normal object
t1 = Thread(target=obj.myMethod)  # pass this object into thread
t1.start()
t1.join()
print("Thread End " )

Child Thread 0
Child Thread 1
Child Thread 2
Child Thread 3
Child Thread 4
Thread End

In [ ]:
import time
def task(name):
  print(f"Task {name} starting")
  time.sleep(4)
  print(f"Task {name} ending")

if __name__ == "__main__":
  t1= Thread(target=task , args=("Thread1",))
  t2= Thread(target=task , args=("Thread2",))
  t1.start()
  t2.start()
  t1.join()
  t2.join()
  print("Main Thread ending")

Task Thread1 starting
Task Thread2 starting
Task Thread1 ending
Task Thread2 ending
Main Thread ending

In [ ]:
if __name__ == "__main__":
  threads=[]
  for i in range(5):
    t = Thread(target=task , args=(f"Thread{i}",))
    threads.append(t)
    t.start()
    #t.join() # apply join on each and every task
    # after starting i want to finish thread together
  for t in threads:
    t.join()

  print("Task Completed")

Task Thread0 starting
Task Thread1 starting
Task Thread2 starting
Task Thread3 starting
Task Thread4 starting
Task Thread0 ending
Task Thread2 ending
Task Thread1 ending
Task Thread3 ending
Task Thread4 ending
Task Completed

In [ ]:
def square(n):
  for i in n:
    time.sleep(2)
    print("Square " , i*i)

def cube(n):
  for i in n:
    time.sleep(2)
    print("Cube " , i*i*i)


n= [1,2,3,4,5]
start= time.time()
square(n)
cube(n)
end= time.time()
print("Time taken " , end-start)

Square  1
Square  4
Square  9
Square  16
Square  25
Cube  1
Cube  8
Cube  27
Cube  64
Cube  125
Time taken  20.030354976654053

In [ ]:
n= [1,2,3,4,5]
start= time.time()
t1=Thread(target=square , args=(n,))
t2=Thread(target=cube , args=(n,))
t1.start()
t2.start()
t1.join()
t2.join()
end= time.time()
print("Time taken " , end-start)

Square  1
Cube  1
Square Cube   8
4
Cube  27
Square  9
Cube  64
Square  16
Cube  125
Square  25
Time taken  10.01629114151001

In [ ]:
 #Write a Python program to find all the common characters in lexicographical order from two given lower case strings.
#If there are no similar letters print "No common characters".

In [ ]:
#Write a Python program to move all zero digits to the end of a given list of numbers.
# Expected output:
# Original list:
# [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
# Move all zero digits to end of the said list of numbers:
# [3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# Write a Python program to change the position of every n-th value to the (n+1)th in a list.
# Sample list: [0,1,2,3,4,5]
# Expected Output: [1, 0, 3, 2, 5, 4]

In [ ]:
#Write a Python program to create a list by concatenating a given list with a range from 1 to n.
# Sample list : ['p', 'q']
# n =5
# Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [ ]:
 #Write a Python program to count the number of strings from a given list of strings.
#The string length is 2 or more and the first and last characters are the same.
# Sample List : ['abc', 'xyz', 'aba', '1221']
# Expected Result : 2