In [1]:
import pandas as pd

In [3]:
import numpy as np

In [7]:
s = pd.Series(np.random.randint(0,7, size = 10))

In [8]:
s.value_counts()

1    2
4    2
2    2
5    2
0    1
6    1
Name: count, dtype: int64

In [9]:
s= pd.Series(["A","B", "C", "Aaba", "CABA", "dog"])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    caba
5     dog
dtype: object

In [10]:
import pandas as pd
data = [10,20,30,40]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [11]:
data = [10, 20, 30, 40]
index = ['a', 'b', 'c', 'd']
series = pd.Series(data, index=index)
print(series)

a    10
b    20
c    30
d    40
dtype: int64

In [17]:
index = ['ajay','vijay','ravi','sanjay']
data = [24,35,45,56]
series = pd.Series(data, index = index)
print(series)

ajay      24
vijay     35
ravi      45
sanjay    56
dtype: int64

In [18]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -0.352176  1.370024 -0.383499  1.981781
1  0.151182  0.047821 -0.514344 -1.311906
2 -1.855711  1.593562 -0.136993 -1.259718
3  0.070232 -0.448133  0.116908  0.114353
4 -0.719652 -1.598237 -0.679392 -0.778764
5 -1.828782  0.530440 -0.089867 -0.572944
6  1.268736  0.965997 -0.216193 -0.197682
7  1.673033 -0.055915  0.059882 -0.386612
8 -1.678548 -0.489690  0.376457 -2.202935
9  0.144461  1.234321  1.146364  0.772006