In [2]:
list_a = [1,2,3]
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [3]:
#to include 10 you have to add 11
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [5]:
list(range(1,5))

[1, 2, 3, 4]

In [8]:
index_count = 0

for letter in 'abcde':
    print('at index {} the letter is {}'. format(index_count, letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [1]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [2]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [2]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [3]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [4]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [5]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a,b,c)

1 a 100
2 b 200
3 c 300

In [7]:
'x' in [1,2,3]

False

In [8]:
'mykey' in {'mykey':345}

True

In [10]:
d = {'mykey':345}
345 in d.values()

True

In [14]:
mylist = [10,20,30,50,40,69]
print(min(mylist))
print(max(mylist))

10
69

In [21]:
from random import shuffle
mylist = [1,3,4,5,6,3,6,7,9]
shuffle(mylist)
mylist

[6, 3, 6, 9, 7, 4, 3, 1, 5]

In [22]:
from random import randint
randint(0,100)

83

In [26]:
result = input('what is your name?')
print(result)
type(result)

ajay

str

In [28]:
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [30]:
mylist = [letter for letter in mystring]
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [32]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [34]:
mylist = [abcd for abcd in 'wordtwo']
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [35]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
mylist = [num**3 for num in range(0,10)]
mylist

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [42]:
mylist = [num**2 for num in range(0,11) if num%2 == 0]
mylist

[0, 4, 16, 36, 64, 100]

In [46]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [49]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [51]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [54]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [56]:
answer = [(x*y) for x in [2,4,5] for y in [100,200,300]]
answer

[200, 400, 600, 400, 800, 1200, 500, 1000, 1500]